.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #000;
    margin: 0 2px;
    transition: 0.5s;
}
nav a:hover{
    background-color: #000;
    color: white;
}
nav h1{
    margin-right: 32px;
}
nav span{
    margin: 0 16px;
    display: flex;
    align-items: center;
}
nav i{
    margin-left: 4px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}

.active{
    background-color: #000;
    color: white;
}